
.home-page {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
    background: url('/main.jpg') no-repeat center center/cover;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin-bottom: 12px;
}

.subtitle {
    font-size: 18px;
    color: #00000b;
    margin-bottom: 24px;
}

.image-container {
    width: 100%;
    height: 80%;
    
    /* border-radius: 12px;
    margin-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2); */
}

.login-button {
    /* background-color: #007bff; */
    background-color: white;
    color: black;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-button:hover {
    transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.sign-up-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}