.attendance{
    margin: 1rem auto;
    box-shadow: 0px 4px 12px rgba(0, 50, 100, 0.3);
    width: 30%;
    padding: 2rem 1rem;
}

@media (max-width: 576px) {
    .col-md-4 {
        margin-bottom: 1rem;
    }
}